@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 300;
    font-family: 'Lato';
}

#home-page.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#home-page > .content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}
.welcome-msg {
position: relative;
left: 20%;

}
li > span {
color: #468847!important;
}